{% extends '_base.html' %}

{% block page_title %}Posts Detail{% endblock page_title %}

{% block content %}
    <p><a href="{% url 'accounts:user_profile' post.user.id %}">{{ post.user.username }}</a> - {{ post.updated|date:"M Y" }} | post likes: {{ post.likes_count }}</p>
    <p>{{ post.body }}</p>
    {% if request.user.id == post.user.id %}
        <a href="{% url 'posts:post_delete' post.id %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'posts:post_update' post.id %}" class="btn btn-info">Update</a>
    {% endif %}
    
    {% if request.user.is_authenticated %}
        {% if can_like %}
            <a href="{% url 'posts:post_like' post.id %}" class="btn btn-danger col-md-2">dislike</a>
        {% else %}
            <a href="{% url 'posts:post_like' post.id %}" class="btn btn-primary col-md-2">like</a>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
                {{ form.as_p }}
            <input type="submit" value="send" class="btn btn-info mb-3">
        </form>
    {% else %}
        <p class="aler alert-danger">Only logged in users can leave comment.</p>
    {% endif %}

    <div class="card">
        <p class="card-header">Comments: {{ comments.count }}</p>
    </div>

    {% for comment in comments %}
        <div class="card">
            <p class="card-header bg-dark text-white">{{ comment.user }} | {{ comment.created|timesince }}</p>
            <div class="card-body">
                <p>{{ comment.body }}</p>
                {% if request.user.is_authenticated %}
                    <button class="collapsible">Reply</button>
                    <div class="content">
                        <form action="{% url 'posts:add_reply' post.id comment.id %}" method="post" class="col-md-6 p-3">
                            {% csrf_token %}
                            {{ form_reply }}
                            <input type="submit" value="send" class="btn btn-info mt-2">
                        </form>
                    </div>
                {% endif %}
            </div>

            {% with replies=comment.rcomments.all %}
                {% for reply in replies %}
                    <div class="bg-primary p-3 m-2">
                        <p>reply form: {{ reply.user }} | {{ reply.created|timesince }} <br> {{ reply.body }}</p>
                    </div>
                {% endfor %}
            {% endwith %}
        </div>
    {% empty %}
        <p>No comments yet!</p>
    {% endfor %}
{% endblock content %}